.vscode/
CorporateHotelBooking.Unit.Tests/bin/
CorporateHotelBooking.Unit.Tests/obj/
CorporateHotelBooking/bin/
CorporateHotelBooking/obj/
CorporateHotelBooking.Integrated.Tests/bin/
CorporateHotelBooking.Integrated.Tests/obj/
